{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block header %}
    <h1 class="my-4 mb-3 text-center">{% trans "Deleting a status" %}</h1>
{% endblock %}

{% block content %}
    <div class="container col-4 text-center">
        <p>{% trans "Are you sure you want to delete" %} {{ status.name }}?</p>

    <form action="{% url 'status_delete' pk=status.pk%}" method="post">
      {% csrf_token %}
      <button class="btn btn-outline-danger" type="submit">{{ button_name }}</button>
    </form>
  </div>

{% endblock %}