{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block header %}

  {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %} alert-success
                    {%elif message.tags == 'warning'%} alert-danger {%endif%}
                    container col-4" role="alert">
        {{ message }}
        </div>
    {% endfor %}
  {% endif %}

    <h1 class="my-4 mb-3 text-center">Вход</h1>

{% endblock %}


{% block content %}
  {% if form.subject.errors %}
    <div>
        <ul>
        {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
  {% endif %}

  <div class="container col-4">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-outline-primary" type="submit">{{ button_name }}</button>
    </form>
  </div>
{% endblock %}
